.idea
.vscode
scripts/bin
node_modules
coverage
.DS_Store
public/
web/scripts/bin
web/tests/bin
common/scripts/bin
common/tests/bin
.DS_Store
tests/src/*.js
tests/src/*.js.map
common/package-lock.json
web/package-lock.json
